<form [formGroup]="loginForm" class="form" (ngSubmit)="login(loginForm)">
  <mat-card>

    <mat-card-content>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-Mail Adresse</mat-label>
        <input class="custom-autofill" cdkFocusInitial matInput formControlName="email">
        <mat-error *ngIf="loginForm.controls['email'].errors?.email && !loginForm.controls['email'].errors?.required">
          Bitte gültige E-Mail Adresse eingeben
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.required">
            E-Mail Adresse wird <strong>benötigt</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input class="custom-autofill" matInput name="password" formControlName="password"
          [type]="hide ? 'password' : 'text'">
        <mat-icon class="hide-pw" matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-hint align="end">
          <a (click)="resetPassword()">Passwort vergessen?</a>
        </mat-hint>
        <mat-error *ngIf="loginForm.controls['password'].errors?.required">
          Password wird <strong>benötigt</strong>
        </mat-error>
      </mat-form-field>
      <mat-error>
        {{fbError}}
      </mat-error>
    </mat-card-content>
    <mat-card-actions align="end">
      <button color="accent" mat-flat-button class="full-width" mat-button [disabled]="!loginForm.valid"
        type="submit">Anmelden</button>
    </mat-card-actions>
  </mat-card>
</form>