<form [formGroup]="registerForm" class="form">
  <mat-card>

    <mat-card-content>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput cdkFocusInitial class="custom-autofill" formControlName="name">
        <mat-error *ngIf="registerForm.controls['name'].errors?.required">
          Name wird <strong>benötigt</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-Mail Adresse</mat-label>
        <input class="custom-autofill" matInput name="email" formControlName="email">
        <mat-error
          *ngIf="registerForm.controls['email'].errors?.email && !registerForm.controls['email'].errors?.required">
          Bitte gültige E-Mail Adresse eingeben
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].errors?.required">
            E-Mail Adresse wird <strong>benötigt</strong>
        </mat-error>
      </mat-form-field>

      <div formGroupName="passwords">

        <mat-form-field class="full-width" appearance="outline" autofill="new-password">
          <mat-label>Passwort</mat-label>
          <input class="custom-autofill" matInput formControlName="password"
            [type]="hidePassword ? 'password' : 'text'">
          <mat-icon class="hide-pw" matSuffix (click)="hidePassword = !hidePassword">
            {{ hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="registerForm['controls'].passwords?.hasError('required', 'password')">
            Passwort wird <strong>benötigt</strong>
          </mat-error>
          <mat-error *ngIf="registerForm['controls'].passwords?.hasError('minlength', 'password')">
            Passwort sollte mindestens <strong>6</strong> Zeichen lang sein
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Passwort wiederholen</mat-label>
          <input class="custom-autofill" matInput formControlName="repeat" [type]="hideRepeat ? 'password' : 'text'"
            [errorStateMatcher]="matcher">
          <mat-icon class="hide-pw" matSuffix (click)="hideRepeat = !hideRepeat">
            {{ hideRepeat ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="registerForm['controls'].passwords?.hasError('mismatch')">
            Passwörter stimmen nicht überein
          </mat-error>
        </mat-form-field>
        <mat-error>
          {{fbError}}
        </mat-error>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button class="full-width" mat-flat-button color="accent" [disabled]="!registerForm.valid"
        (click)="registerUser(registerForm)">Registrieren</button>
    </mat-card-actions>
  </mat-card>
</form>