<form [formGroup]="registerForm" class="form">
  <mat-card>

    <mat-card-content>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input 
          matInput
          cdkFocusInitial 
          class="custom-autofill" 
          placeholder="Name" 
          formControlName="name">
        <mat-error *ngIf="registerForm.controls['name'].errors?.required">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email Adresse</mat-label>
        <input matInput name="email" placeholder="Email" formControlName="email">
        <mat-error
          *ngIf="registerForm.controls['email'].errors?.email && !registerForm.controls['email'].errors?.required">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].errors?.required">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div formGroupName="passwords">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <mat-icon class="hide-pw" matSuffix (click)="hidePassword = !hidePassword">
            {{ hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="registerForm['controls'].passwords?.hasError('required', 'password')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Repeat Password</mat-label>
          <input matInput placeholder="Repeat Password" formControlName="repeat"
            [type]="hideRepeat ? 'password' : 'text'" [errorStateMatcher]="matcher">
          <mat-icon class="hide-pw" matSuffix (click)="hideRepeat = !hideRepeat">
            {{ hideRepeat ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="registerForm['controls'].passwords?.hasError('mismatch')">
            mismatch
          </mat-error>
        </mat-form-field>

      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button class="full-width" mat-flat-button color="primary" [disabled]="!registerForm.valid">Registrieren</button>
    </mat-card-actions>
  </mat-card>
</form>