// dialog
.container {
  margin: 16px;
}

.stretched-tabs {
  max-width: 400px;
}
.spacer {
  flex: 1 1 auto;
}





// login
.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.hide-pw {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.reset-password-card {
  margin: 10px;
  max-width: 600px;
  margin: 16px auto;
}
