@import "~@angular/material/theming";
@import "~@angular/cdk/text-field";
@include mat-core();
@import "./themes/myapp-theme.scss";
@import "./app/features/settings-portal/settings-portal.component.scss-theme.scss";
@mixin custom-components-theme($theme) {
  @include strm-settings-component-theme($theme);
}

.myapp-theme {
  @include angular-material-theme($myapp-theme-two);
  @include custom-components-theme($myapp-theme-two);
  input.custom-autofill {
    @include cdk-text-field-autofill-color(transparent, black);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.auth-dialog-class .mat-dialog-container {
  padding: 0px;
}

:root {
  --app-background-color: #f6f6f6;
  --app-primary-color: #344955;
  --app-accent-color: #f9aa33;
}
body {
  margin: 0;
  background-color: var(--app-background-color);
}
.spacer {
  flex: 1 1 auto;
}
