@import "~@angular/material/theming";
@include mat-core();
@import "./themes/default-theme.scss";
@import "./themes/dark-theme.scss";
@import '~@angular/cdk/text-field'; 



.default-theme {
  @include angular-material-theme($myapp-theme);

}

.dark-theme {
  @include angular-material-theme($myapp-dark-theme);

}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.auth-dialog-class .mat-dialog-container {
  padding: 0px;
}  
