@import "~@angular/material/theming";
@import "~@angular/cdk/text-field";
@include mat-core();
@import "./themes/default-theme.scss";
@import "./themes/dark-theme.scss";
@import "./themes/myapp-theme.scss";
.default-theme {
  @include angular-material-theme($myapp-theme);
  input.custom-autofill {
    @include cdk-text-field-autofill-color(transparent, black);
  }
}

.myapp-theme {
  @include angular-material-theme($myapp-theme-two);
  input.custom-autofill {
    @include cdk-text-field-autofill-color(transparent, black);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.auth-dialog-class .mat-dialog-container {
  padding: 0px;
}
